* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.topbar__right .topbar__btns button, .navbar .navbar__left .navbar__btns button, .price__in .price__cards .price__card .price__card--btn button, .footer .footer__row .footer__col4 .footer__col4--btn button {
  padding: 10px 25px;
  color: #FFF;
  background-color: #02897A;
  border-radius: 5px;
  border: 2px solid transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

.topbar__right .topbar__btns button:hover, .navbar .navbar__left .navbar__btns button:hover, .price__in .price__cards .price__card .price__card--btn button:hover, .footer .footer__row .footer__col4 .footer__col4--btn button:hover {
  color: #FFF;
  border: 2px solid #02897A;
  background-color: transparent;
}

.topbar {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topbar__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 16px;
}

.topbar__left .topbar__left--title {
  font-size: 30px;
  line-height: 28px;
  font-weight: 700;
}

.topbar__left .topbar__left--title a {
  color: #FFF;
  text-decoration: none;
}

.topbar__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 24px;
}

.topbar__right .topbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 30px;
  list-style: none;
}

.topbar__right .topbar__list .topbar__link {
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.topbar__right .topbar__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 24px;
}

.navbar {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
}

.navbar .navbar__left h3 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
}

.navbar .navbar__left p {
  max-width: 458px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 18px 0 45px 0;
}

.navbar .navbar__left .navbar__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 30px;
}

.navbar .navbar__left .navbar__btns a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 10px;
  color: #02897A;
  text-decoration: none;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.topbar__right .topbar__btns button, .navbar .navbar__left .navbar__btns button, .price__in .price__cards .price__card .price__card--btn button, .footer .footer__row .footer__col4 .footer__col4--btn button {
  padding: 10px 25px;
  color: #FFF;
  background-color: #02897A;
  border-radius: 5px;
  border: 2px solid transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

.topbar__right .topbar__btns button:hover, .navbar .navbar__left .navbar__btns button:hover, .price__in .price__cards .price__card .price__card--btn button:hover, .footer .footer__row .footer__col4 .footer__col4--btn button:hover {
  color: #FFF;
  border: 2px solid #02897A;
  background-color: transparent;
}

.price__in {
  padding-bottom: 150px;
  color: #FFF;
}

.price__in .price__title {
  padding-bottom: 173px;
}

.price__in .price__title h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 34px;
  line-height: 77px;
  padding-top: 60px;
}

.price__in .price__title h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 43px;
  line-height: 51px;
}

.price__in .price__title p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  line-height: 24px;
  margin-top: 10px;
  padding-top: 20px;
}

.price__in .price__cards {
  color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 72px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price__in .price__cards .price__card {
  cursor: pointer;
  padding-top: 24px;
  padding-bottom: 32px;
  border-radius: 8px;
  padding-left: 75px;
  padding-right: 75px;
  background-color: #FFF;
}

.price__in .price__cards .price__card .price__card--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
}

.price__in .price__cards .price__card .price__card--desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #22343D;
  line-height: 40px;
  margin-top: 8px;
}

.price__in .price__cards .price__card .price__card--prc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 10px;
}

.price__in .price__cards .price__card .price__card--prc .price__card--price h3 {
  font-size: 76px;
  color: #02897A;
  line-height: 100px;
  font-weight: 700;
}

.price__in .price__cards .price__card .price__card--prc .price__card--month h3 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.7px;
  line-height: 30px;
  color: #02897A;
}

.price__in .price__cards .price__card .price__card--prc .price__card--month .price__card--per {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #AFAFAF;
}

.price__in .price__cards .price__card .price__card--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price__in .price__cards .price__card .price__card--btn button {
  margin-top: 38px;
}

.price__in .price__cards .price__card:hover {
  background-color: #02897A;
  color: #FFF;
}

.price__in .price__cards .price__card:hover .price__card--desc {
  color: #FFF;
}

.price__in .price__cards .price__card:hover .price__card--price h3 {
  color: #FFF;
}

.price__in .price__cards .price__card:hover .price__card--month h3 {
  color: #FFF;
}

.price__in .price__cards .price__card:hover .price__card--btn button {
  background-color: #FFF;
  color: #02897A;
}

.hero {
  text-align: center;
}

.hero .hero-in .hero-desc h2 {
  font-size: 24px;
  font-weight: 600;
  color: #FFF;
  padding-bottom: 16px;
}

.hero .hero-in .hero-desc h3 {
  font-size: 34px;
  font-weight: 700;
  color: #FFF;
  padding-bottom: 8pxx;
}

.hero .hero-in .hero-desc p {
  font-size: 18px;
  font-weight: 400;
  color: #FFF;
  padding-bottom: 32px;
}

.hero .hero-in .hero-desc button {
  padding: 11px 18px;
  border: none;
  border-radius: 5px;
  color: #FFF;
  background-color: #02897A;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.second__section {
  padding-top: 160px;
}

.second__section .second-desc h2 {
  text-align: center;
  padding-bottom: 53px;
  font-size: 34px;
  font-weight: 700;
  color: #FFF;
}

.second__section .second__in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 80px;
  color: #FFF;
  padding-bottom: 150px;
}

.second__section .second__in .second__left h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.second__section .second__in .second__left h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin-top: 8px;
  margin-bottom: 23px;
}

.second__section .second__in .second__left p {
  line-height: 26px;
  margin-bottom: 30px;
}

.second__section .second__in .second__left span {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 12px;
}

.second__section .second__in .second__left .checks {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 30px;
}

.second__section .second__in .second__left .checks .chaeck__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding-bottom: 16px;
}

.second__section .second__in .second__left .checks .chaeck__img p {
  font-size: 24px;
  font-weight: 600;
  color: #FFF;
}

aside {
  margin-left: 170px;
  padding-bottom: 150px;
}

aside .aside-in .aside-desc {
  text-align: center;
  padding-bottom: 50px;
}

aside .aside-in .aside-desc h3 {
  font-size: 34px;
  font-weight: 700;
  color: #FFF;
  line-height: 51px;
}

aside .aside-in .aside-desc p {
  font-size: 18px;
  font-weight: 400;
  color: #FFF;
}

aside .aside-items .aside-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  padding-bottom: 27px;
}

aside .aside-items .aside-item p {
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
}

aside .aside-items .aside__item-minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  padding-bottom: 27px;
}

aside .aside-items .aside__item-minus p {
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
}

aside .aside-items .aside__item-text p {
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
  padding-bottom: 27px;
}

.companies__in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 150px;
}

.companies__in .companies__card {
  padding: 10px 10px 10px 52px;
  border-radius: 32px;
  max-width: 968px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 60px;
  background-color: #02897A;
}

.companies__in .companies__card .companies__left--title h3 {
  color: #FFF;
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
}

.companies__in .companies__card .companies__left--button {
  margin-top: 60px;
}

.companies__in .companies__card .companies__left--button button {
  padding: 10px 25px;
  border-radius: 5px;
  border: 2px solid transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  background-color: #FFF;
  color: #02897A;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.topbar__right .topbar__btns button, .navbar .navbar__left .navbar__btns button, .price__in .price__cards .price__card .price__card--btn button, .footer .footer__row .footer__col4 .footer__col4--btn button {
  padding: 10px 25px;
  color: #FFF;
  background-color: #02897A;
  border-radius: 5px;
  border: 2px solid transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

.topbar__right .topbar__btns button:hover, .navbar .navbar__left .navbar__btns button:hover, .price__in .price__cards .price__card .price__card--btn button:hover, .footer .footer__row .footer__col4 .footer__col4--btn button:hover {
  color: #FFF;
  border: 2px solid #02897A;
  background-color: transparent;
}

.footer {
  padding-bottom: 24px;
}

.footer .footer__row {
  padding-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFF;
}

.footer .footer__row .footer__col1 .footer__col1--logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 16px;
  text-decoration: none;
}

.footer .footer__row .footer__col1 .footer__col1--logo a h3 {
  color: #FFF;
  font-size: 24px;
  font-weight: 900;
}

.footer .footer__row .footer__col1 .footer__col1--links {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 16px;
}

.footer .footer__row .footer__col2 {
  max-width: 150px;
  width: 100%;
}

.footer .footer__row .footer__col2 h3 {
  max-width: 280px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 16px;
}

.footer .footer__row .footer__col2 .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0 10px;
}

.footer .footer__row .footer__col2 .footer__list .footer__link {
  color: #FFF;
  font-size: 16px;
  line-height: 35px;
}

.footer .footer__row .footer__col2 .footer__list .footer__link:hover {
  color: #02897A;
  margin-left: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer .footer__row .footer__col4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer__row .footer__col4 h3 {
  max-width: 280px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.footer .footer__row .footer__col4 .footer__col4--input {
  margin-top: 31px;
}

.footer .footer__row .footer__col4 .footer__col4--input input {
  width: 325px;
  height: 48px;
  outline: none;
  font-size: 20px;
  color: #02897A;
}

.footer .footer__row .footer__col4 .footer__col4--btn {
  margin-top: 24px;
}

.footer .footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__bottom .footer__bottom--title {
  font-size: 16px;
  line-height: 30px;
  color: #FFF;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.wrapper {
  background-color: #141414;
}

.container {
  max-width: 1165px;
  margin: 0 auto;
  padding: 0 20px;
}
